DEV/Tower/FA.LVIS.Tower.FastDataSync/Service References/FastAdminService/FastAdminService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.firstam.com/2011/07/ServiceContract/FAST" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.firstam.com/2011/07/ServiceContract/FAST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.firstam.com/2011/07/ServiceContract/FAST/Imports">
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd0" namespace="http://www.firstam.com/2011/07/ServiceContract/FAST" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd5" namespace="http://www.firstam.com/2010/06/datacontract/GAB" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd6" namespace="http://www.firstam.com/2010/09/datacontract/GAB" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd7" namespace="http://www.firstam.com/2013/08/DataContract/FAST" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFastAdminService_GetLicenseInformationByEntityType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseInformationByEntityType" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetLicenseInformationByEntityType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseInformationByEntityTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetLicenseInformationByEntityType_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeeByLoginName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByLoginName" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeeByLoginName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeeByLoginName_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeeByEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeeByEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeeByEmployeeID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetStates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCounties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCounties" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCounties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCounties_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegions" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetRegions_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q6:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOffices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOffices" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOffices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOffices_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q7:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOfficeBankAccountsByOfficeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficeBankAccountsByOfficeID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOfficeBankAccountsByOfficeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficeBankAccountsByOfficeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOfficeBankAccountsByOfficeID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q8:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetProgramTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTypes" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetProgramTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetProgramTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q9:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABsByCustomerTypeIDRegionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGABsByCustomerTypeIDRegionID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABsByCustomerTypeIDRegionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGABsByCustomerTypeIDRegionIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABsByCustomerTypeIDRegionID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q10:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABAndGABContactsByBusOrgID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGABAndGABContactsByBusOrgID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABAndGABContactsByBusOrgID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGABAndGABContactsByBusOrgIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABAndGABContactsByBusOrgID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q11:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchGABorGABContact_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchGABorGABContact" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchGABorGABContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchGABorGABContactResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchGABorGABContact_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q12:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetWorkFlowTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowTemplates" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetWorkFlowTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkFlowTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetWorkFlowTemplates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q13:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTemplates" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskTemplates_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q14:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetSearchTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchTypes" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetSearchTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetSearchTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q15:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTypeCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeCodes" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTypeCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTypeCodes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q16:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskTemplatesByCategoryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTemplatesByCategoryID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskTemplatesByCategoryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTemplatesByCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskTemplatesByCategoryID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q17:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskCategoriesByRegionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskCategoriesByRegionID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskCategoriesByRegionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskCategoriesByRegionIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetTaskCategoriesByRegionID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q18:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeesByFunctionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByFunctionTypes" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeesByFunctionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesByFunctionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetEmployeesByFunctionTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q19:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchEmployeeByType_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeByType" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchEmployeeByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchEmployeeByType_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q20:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetSalesReps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesReps" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetSalesReps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesRepsResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetSalesReps_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q21:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCities_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q22:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABorGABContactsByRegionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGABorGABContactsByRegionId" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABorGABContactsByRegionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGABorGABContactsByRegionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABorGABContactsByRegionId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q23:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetProducts_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q24:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABByAddressBookEntryID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGABByAddressBookEntryID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABByAddressBookEntryID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGABByAddressBookEntryIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABByAddressBookEntryID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q25:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGABDetails" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGABDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q26:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABorGABContactDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGABorGABContactDetails" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABorGABContactDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGABorGABContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetGABorGABContactDetails_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q27:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetBusinessSourceTypesByRegionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessSourceTypesByRegionID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetBusinessSourceTypesByRegionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessSourceTypesByRegionIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetBusinessSourceTypesByRegionID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q28:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCountries_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q29:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCanadaProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCanadaProvinces" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCanadaProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCanadaProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCanadaProvinces_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q30:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOfficeAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficeAddresses" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOfficeAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfficeAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetOfficeAddresses_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q31="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q31:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetRegionByOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionByOffice" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetRegionByOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionByOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetRegionByOffice_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q32:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetVersionedGABInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionedGABInfo" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetVersionedGABInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionedGABInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetVersionedGABInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q33:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCommentCodesByTaskTemplateID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentCodesByTaskTemplateID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCommentCodesByTaskTemplateID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentCodesByTaskTemplateIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetCommentCodesByTaskTemplateID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q34:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchLocalGABByEnterpriseId_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocalGABByEnterpriseId" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchLocalGABByEnterpriseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocalGABByEnterpriseIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_SearchLocalGABByEnterpriseId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q35="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q35:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetAlternateNamesByBusOrgID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlternateNamesByBusOrgID" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetAlternateNamesByBusOrgID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlternateNamesByBusOrgIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetAlternateNamesByBusOrgID_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q36:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetContactsByBusOrgId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsByBusOrgId" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetContactsByBusOrgId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsByBusOrgIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetContactsByBusOrgId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q37="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q37:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetAltAddressesByBusOrgId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAltAddressesByBusOrgId" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetAltAddressesByBusOrgId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAltAddressesByBusOrgIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetAltAddressesByBusOrgId_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q38="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q38:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GABCheckLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GABCheckLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GABCheckLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GABCheckLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GABCheckLatestVersion_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q39="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q39:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetLicenseTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseTypes" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetLicenseTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IFastAdminService_GetLicenseTypes_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q40:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IFastAdminService">
    <wsdl:documentation>
      <summary>Service contract performs read/write of meta data information related to FAST admin.</summary>
    </wsdl:documentation>
    <wsdl:operation name="GetLicenseInformationByEntityType">
      <wsdl:documentation>
        <summary>GetLicenseInformationByEntityType</summary>
        <returns>LicenseInfoResponse</returns>
        <param name="licenseInfoRequest">LicenseInfoRequest required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetLicenseInformationByEntityType" message="tns:IFastAdminService_GetLicenseInformationByEntityType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetLicenseInformationByEntityTypeResponse" message="tns:IFastAdminService_GetLicenseInformationByEntityType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetLicenseInformationByEntityTypeServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetLicenseInformationByEntityType_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByLoginName">
      <wsdl:documentation>
        <summary>GetEmployeeByLoginName</summary>
        <returns>EmployeeInfo</returns>
        <param name="loginName">loginName required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeeByLoginName" message="tns:IFastAdminService_GetEmployeeByLoginName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeeByLoginNameResponse" message="tns:IFastAdminService_GetEmployeeByLoginName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeeByLoginNameServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetEmployeeByLoginName_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByEmployeeID">
      <wsdl:documentation>
        <summary>GetEmployeeByEmployeeID</summary>
        <returns>EmployeeInfo</returns>
        <param name="employeeID">employeeID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeeByEmployeeID" message="tns:IFastAdminService_GetEmployeeByEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeeByEmployeeIDResponse" message="tns:IFastAdminService_GetEmployeeByEmployeeID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeeByEmployeeIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetEmployeeByEmployeeID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:documentation>
        <summary>GetStates</summary>
        <returns>GeoRegionResponse.States[]</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetStates" message="tns:IFastAdminService_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetStatesResponse" message="tns:IFastAdminService_GetStates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetStatesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetStates_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCounties">
      <wsdl:documentation>
        <summary>GetCounties</summary>
        <returns>GeoRegionResponse.Counties[]</returns>
        <param name="stateID">stateID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCounties" message="tns:IFastAdminService_GetCounties_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCountiesResponse" message="tns:IFastAdminService_GetCounties_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCountiesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetCounties_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <wsdl:documentation>
        <summary>GetRegions</summary>
        <returns>BusUnitResponse.BusUnits[]</returns>
        <param name="corporateID">corporateID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetRegions" message="tns:IFastAdminService_GetRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetRegionsResponse" message="tns:IFastAdminService_GetRegions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetRegionsServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetRegions_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOffices">
      <wsdl:documentation>
        <summary>GetOffices</summary>
        <returns>BusUnitResponse.BusUnits[]</returns>
        <param name="regionID">regionID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOffices" message="tns:IFastAdminService_GetOffices_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficesResponse" message="tns:IFastAdminService_GetOffices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetOffices_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfficeBankAccountsByOfficeID">
      <wsdl:documentation>
        <summary>GetOfficeBankAccountsByOfficeID</summary>
        <returns>OfficeBankAccountResponse</returns>
        <param name="officeBankAccountRequest">officeID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficeBankAccountsByOfficeID" message="tns:IFastAdminService_GetOfficeBankAccountsByOfficeID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficeBankAccountsByOfficeIDResponse" message="tns:IFastAdminService_GetOfficeBankAccountsByOfficeID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficeBankAccountsByOfficeIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetOfficeBankAccountsByOfficeID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramTypes">
      <wsdl:documentation>
        <summary>GetProgramTypes</summary>
        <returns>ProgramTypeResponse.ProgramTypes[]</returns>
        <param name="regionID">regionID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetProgramTypes" message="tns:IFastAdminService_GetProgramTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetProgramTypesResponse" message="tns:IFastAdminService_GetProgramTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetProgramTypesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetProgramTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGABsByCustomerTypeIDRegionID">
      <wsdl:documentation>
        <summary>GetGABsByCustomerTypeIDRegionID</summary>
        <returns>GABSearchResponse.GABResults[]</returns>
        <param name="customerTypeCdID">customerTypeCdID and regionID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABsByCustomerTypeIDRegionID" message="tns:IFastAdminService_GetGABsByCustomerTypeIDRegionID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABsByCustomerTypeIDRegionIDResponse" message="tns:IFastAdminService_GetGABsByCustomerTypeIDRegionID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABsByCustomerTypeIDRegionIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetGABsByCustomerTypeIDRegionID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGABAndGABContactsByBusOrgID">
      <wsdl:documentation>
        <summary>GetGABAndGABContactsByBusOrgID</summary>
        <returns>GABInfo</returns>
        <param name="busOrgID">busOrgID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABAndGABContactsByBusOrgID" message="tns:IFastAdminService_GetGABAndGABContactsByBusOrgID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABAndGABContactsByBusOrgIDResponse" message="tns:IFastAdminService_GetGABAndGABContactsByBusOrgID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABAndGABContactsByBusOrgIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetGABAndGABContactsByBusOrgID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchGABorGABContact">
      <wsdl:documentation>
        <summary>SearchGABorGABContact</summary>
        <returns>GABSearchResponse</returns>
        <param name="gabSearchRequest">GABSearchRequest is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchGABorGABContact" message="tns:IFastAdminService_SearchGABorGABContact_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchGABorGABContactResponse" message="tns:IFastAdminService_SearchGABorGABContact_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchGABorGABContactServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_SearchGABorGABContact_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkFlowTemplates">
      <wsdl:documentation>
        <summary>GetWorkFlowTemplates</summary>
        <returns>WorkFlowResponse.WFTemplates[]</returns>
        <param name="regionID">regionID and webCustomerTypeCDID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetWorkFlowTemplates" message="tns:IFastAdminService_GetWorkFlowTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetWorkFlowTemplatesResponse" message="tns:IFastAdminService_GetWorkFlowTemplates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetWorkFlowTemplatesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetWorkFlowTemplates_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskTemplates">
      <wsdl:documentation>
        <summary>GetTaskTemplates</summary>
        <returns>TaskTemplateResponse.TaskTemplates[]</returns>
        <param name="workFlowTemplateID">workFlowTemplateID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskTemplates" message="tns:IFastAdminService_GetTaskTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskTemplatesResponse" message="tns:IFastAdminService_GetTaskTemplates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskTemplatesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetTaskTemplates_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchTypes">
      <wsdl:documentation>
        <summary>GetSearchTypes</summary>
        <returns>SearchTypeResponse.SearchTypes[]</returns>
        <param name="vendorID">vendorID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetSearchTypes" message="tns:IFastAdminService_GetSearchTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetSearchTypesResponse" message="tns:IFastAdminService_GetSearchTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetSearchTypesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetSearchTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeCodes">
      <wsdl:documentation>
        <summary>GetTypeCodes</summary>
        <returns>TypeCodeResponse.TypeCodes[]</returns>
        <param name="classTypeID">classTypeID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTypeCodes" message="tns:IFastAdminService_GetTypeCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTypeCodesResponse" message="tns:IFastAdminService_GetTypeCodes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTypeCodesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetTypeCodes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskTemplatesByCategoryID">
      <wsdl:documentation>
        <summary>GetTaskTemplatesByCategoryID</summary>
        <returns>TemplateResponse</returns>
        <param name="taskCategoryID">taskCategoryID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskTemplatesByCategoryID" message="tns:IFastAdminService_GetTaskTemplatesByCategoryID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskTemplatesByCategoryIDResponse" message="tns:IFastAdminService_GetTaskTemplatesByCategoryID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskTemplatesByCategoryIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetTaskTemplatesByCategoryID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskCategoriesByRegionID">
      <wsdl:documentation>
        <summary>GetTaskCategoriesByRegionID</summary>
        <returns>TaskCategoryResponse</returns>
        <param name="regionID">regionID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskCategoriesByRegionID" message="tns:IFastAdminService_GetTaskCategoriesByRegionID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskCategoriesByRegionIDResponse" message="tns:IFastAdminService_GetTaskCategoriesByRegionID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetTaskCategoriesByRegionIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetTaskCategoriesByRegionID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesByFunctionTypes">
      <wsdl:documentation>
        <summary>GetEmployeesByFunctionTypes</summary>
        <returns>GetEmployeesByFunctionTypesResponse</returns>
        <param name="getEmployeesByFunctionTypesRequest">getEmployeesByFunctionTypesRequest is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeesByFunctionTypes" message="tns:IFastAdminService_GetEmployeesByFunctionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeesByFunctionTypesResponse" message="tns:IFastAdminService_GetEmployeesByFunctionTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetEmployeesByFunctionTypesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetEmployeesByFunctionTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmployeeByType">
      <wsdl:documentation>
        <summary>SearchEmployeeByType</summary>
        <returns>EmployeeSearchResponse</returns>
        <param name="getEmployeeRequest">getEmployeeByRequest is Invalid.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchEmployeeByType" message="tns:IFastAdminService_SearchEmployeeByType_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchEmployeeByTypeResponse" message="tns:IFastAdminService_SearchEmployeeByType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchEmployeeByTypeServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_SearchEmployeeByType_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesReps">
      <wsdl:documentation>
        <summary>GetSalesReps</summary>
        <returns>GetSalesReps</returns>
        <param name="regionID">regionID is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetSalesReps" message="tns:IFastAdminService_GetSalesReps_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetSalesRepsResponse" message="tns:IFastAdminService_GetSalesReps_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetSalesRepsServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetSalesReps_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:documentation>
        <summary>GetCities</summary>
        <returns>GeoRegionResponse.Cities[]</returns>
        <param name="countyID">CountyID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCities" message="tns:IFastAdminService_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCitiesResponse" message="tns:IFastAdminService_GetCities_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCitiesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetCities_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGABorGABContactsByRegionId">
      <wsdl:documentation>
        <summary>GetGABorGABContactsByRegionId</summary>
        <returns>GABorGABContactsResponse</returns>
        <param name="GaborGabContactsRequest">GABorGABContactsRequest is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABorGABContactsByRegionId" message="tns:IFastAdminService_GetGABorGABContactsByRegionId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABorGABContactsByRegionIdResponse" message="tns:IFastAdminService_GetGABorGABContactsByRegionId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABorGABContactsByRegionIdServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetGABorGABContactsByRegionId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:documentation>
        <summary>GetProducts</summary>
        <returns>ProductsResponse</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetProducts" message="tns:IFastAdminService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetProductsResponse" message="tns:IFastAdminService_GetProducts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetProductsServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetProducts_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGABByAddressBookEntryID">
      <wsdl:documentation>
        <summary>GetGABByAddressBookEntryID</summary>
        <returns>GABInfo</returns>
        <param name="AddressBookEntryID">AddressBookEntryID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABByAddressBookEntryID" message="tns:IFastAdminService_GetGABByAddressBookEntryID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABByAddressBookEntryIDResponse" message="tns:IFastAdminService_GetGABByAddressBookEntryID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABByAddressBookEntryIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetGABByAddressBookEntryID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGABDetails">
      <wsdl:documentation>
        <summary>GetGABDetails</summary>
        <returns>GABDetailsResponse</returns>
        <param name="AddressBookID">AddressBookID, GABType is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABDetails" message="tns:IFastAdminService_GetGABDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABDetailsResponse" message="tns:IFastAdminService_GetGABDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetGABDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGABorGABContactDetails">
      <wsdl:documentation>
        <summary>GetDetails of a GAB or GabContact</summary>
        <returns>GetGABorGABContactDetailsResponse</returns>
        <param name="gabOrGABContactsRequest">GetGABorGABContactDetailsRequest is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABorGABContactDetails" message="tns:IFastAdminService_GetGABorGABContactDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABorGABContactDetailsResponse" message="tns:IFastAdminService_GetGABorGABContactDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetGABorGABContactDetailsServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetGABorGABContactDetails_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessSourceTypesByRegionID">
      <wsdl:documentation>
        <summary>GetBusinessSourceTypesByRegionID</summary>
        <returns>BusSourceTypeRequest</returns>
        <param name="BusSourceTypeRequest">regionID required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetBusinessSourceTypesByRegionID" message="tns:IFastAdminService_GetBusinessSourceTypesByRegionID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetBusinessSourceTypesByRegionIDResponse" message="tns:IFastAdminService_GetBusinessSourceTypesByRegionID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetBusinessSourceTypesByRegionIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetBusinessSourceTypesByRegionID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:documentation>
        <summary>GetCountries</summary>
        <returns>Countries</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCountries" message="tns:IFastAdminService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCountriesResponse" message="tns:IFastAdminService_GetCountries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCountriesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetCountries_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCanadaProvinces">
      <wsdl:documentation>
        <summary>GetCanadaProvinces</summary>
        <returns>GeoRegionResponse</returns>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCanadaProvinces" message="tns:IFastAdminService_GetCanadaProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCanadaProvincesResponse" message="tns:IFastAdminService_GetCanadaProvinces_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCanadaProvincesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetCanadaProvinces_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfficeAddresses">
      <wsdl:documentation>
        <summary>GetOfficeAddresses</summary>
        <returns>OfficeResponse.OfficeAddresses[]</returns>
        <param name="busUnitID">businessUnitID is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficeAddresses" message="tns:IFastAdminService_GetOfficeAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficeAddressesResponse" message="tns:IFastAdminService_GetOfficeAddresses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetOfficeAddressesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetOfficeAddresses_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionByOffice">
      <wsdl:documentation>
        <summary>GetRegionByOffice</summary>
        <returns>GetRegionByOfficeResponse</returns>
        <param name="GetRegionByOfficeRequest">Event log request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetRegionByOffice" message="tns:IFastAdminService_GetRegionByOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetRegionByOfficeResponse" message="tns:IFastAdminService_GetRegionByOffice_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetRegionByOfficeServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetRegionByOffice_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionedGABInfo">
      <wsdl:documentation>
        <summary>GetVersionedGABInfo</summary>
        <returns>VersionGABInfoResponse</returns>
        <param name="versionGABInfoRequest">GetVersionedGABInfo request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetVersionedGABInfo" message="tns:IFastAdminService_GetVersionedGABInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetVersionedGABInfoResponse" message="tns:IFastAdminService_GetVersionedGABInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetVersionedGABInfoServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetVersionedGABInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentCodesByTaskTemplateID">
      <wsdl:documentation>
        <summary>GetCommentCodesByTaskTemplateID</summary>
        <returns>TaskTemplateCommentCodesResponse</returns>
        <param name="TaskTemplateCommentCodesRequest">TaskTemplateID is required</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCommentCodesByTaskTemplateID" message="tns:IFastAdminService_GetCommentCodesByTaskTemplateID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCommentCodesByTaskTemplateIDResponse" message="tns:IFastAdminService_GetCommentCodesByTaskTemplateID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetCommentCodesByTaskTemplateIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetCommentCodesByTaskTemplateID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLocalGABByEnterpriseId">
      <wsdl:documentation>
        <summary>SearchLocalGABByEnterpriseId</summary>
        <returns>SearchLocalGABByEnterpriseId</returns>
        <param name="gabRequest">Event log request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchLocalGABByEnterpriseId" message="tns:IFastAdminService_SearchLocalGABByEnterpriseId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchLocalGABByEnterpriseIdResponse" message="tns:IFastAdminService_SearchLocalGABByEnterpriseId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/SearchLocalGABByEnterpriseIdServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_SearchLocalGABByEnterpriseId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlternateNamesByBusOrgID">
      <wsdl:documentation>
        <summary>GetAlternateNamesByBusOrgId</summary>
        <returns>GetAlternateNamesByBusOrgId</returns>
        <param name="gabRequest">Event log request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetAlternateNamesByBusOrgID" message="tns:IFastAdminService_GetAlternateNamesByBusOrgID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetAlternateNamesByBusOrgIDResponse" message="tns:IFastAdminService_GetAlternateNamesByBusOrgID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetAlternateNamesByBusOrgIDServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetAlternateNamesByBusOrgID_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactsByBusOrgId">
      <wsdl:documentation>
        <summary>GetContactsByBusOrgId</summary>
        <returns>GetContactsByBusOrgId</returns>
        <param name="contactRequest">Event log request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetContactsByBusOrgId" message="tns:IFastAdminService_GetContactsByBusOrgId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetContactsByBusOrgIdResponse" message="tns:IFastAdminService_GetContactsByBusOrgId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetContactsByBusOrgIdServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetContactsByBusOrgId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAltAddressesByBusOrgId">
      <wsdl:documentation>
        <summary>GetAltAddressesByBusOrgId</summary>
        <returns>GetAltAddressesByBusOrgId</returns>
        <param name="gabRequest">Event log request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetAltAddressesByBusOrgId" message="tns:IFastAdminService_GetAltAddressesByBusOrgId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetAltAddressesByBusOrgIdResponse" message="tns:IFastAdminService_GetAltAddressesByBusOrgId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetAltAddressesByBusOrgIdServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetAltAddressesByBusOrgId_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GABCheckLatestVersion">
      <wsdl:documentation>
        <summary>GABCheckLatestVersion</summary>
        <returns>GABCheckLatestVersion</returns>
        <param name="gabRefreshRequest">Event log request should have all the required values.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GABCheckLatestVersion" message="tns:IFastAdminService_GABCheckLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GABCheckLatestVersionResponse" message="tns:IFastAdminService_GABCheckLatestVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GABCheckLatestVersionServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GABCheckLatestVersion_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTypes">
      <wsdl:documentation>
        <summary>GetLicenseTypes</summary>
        <returns>LicenseTypeResponse</returns>
        <param name="licenseTypeRequest">LicenseRequest is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetLicenseTypes" message="tns:IFastAdminService_GetLicenseTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetLicenseTypesResponse" message="tns:IFastAdminService_GetLicenseTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastAdminService/GetLicenseTypesServiceFaultFault" name="ServiceFaultFault" message="tns:IFastAdminService_GetLicenseTypes_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>