DEV/Tower/FA.LVIS.Tower.FastDataSync/Service References/FastAdminService/FastAdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="ePaymentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PaidAtClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2379</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidBeforeClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2387</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidByOthers">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2388</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ePaymentCategory" nillable="true" type="tns:ePaymentCategory" />
  <xs:complexType name="ArrayOfLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenseInfo" nillable="true" type="tns:LicenseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicenseInfo" nillable="true" type="tns:ArrayOfLicenseInfo" />
  <xs:complexType name="LicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseInfo" nillable="true" type="tns:LicenseInfo" />
  <xs:complexType name="ArrayOfBusUnitOfficeAddresses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusUnitOfficeAddresses" nillable="true" type="tns:BusUnitOfficeAddresses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusUnitOfficeAddresses" nillable="true" type="tns:ArrayOfBusUnitOfficeAddresses" />
  <xs:complexType name="BusUnitOfficeAddresses">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" base="q1:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddrLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddrLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddrLine3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddrLine4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeCD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusUnitOfficeAddresses" nillable="true" type="tns:BusUnitOfficeAddresses" />
  <xs:complexType name="ArrayOfMDMAlternateName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDMAlternateName" nillable="true" type="tns:MDMAlternateName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDMAlternateName" nillable="true" type="tns:ArrayOfMDMAlternateName" />
  <xs:complexType name="MDMAlternateName">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateNameId" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CrossRefIds" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="CrossReference" nillable="true" type="q3:CrossReference" />
      <xs:element minOccurs="0" name="Enddated" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnterpriseId" type="xs:long" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FastIds" nillable="true" type="q4:ArrayOfint" />
      <xs:element minOccurs="0" name="IdCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocalPrimary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MDMCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="SpokeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruncateFieldDetails" nillable="true" type="tns:ArrayOfMDMTruncateFieldDetails" />
      <xs:element minOccurs="0" name="Typecode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDMAlternateName" nillable="true" type="tns:MDMAlternateName" />
  <xs:complexType name="ArrayOfMDMTruncateFieldDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MDMTruncateFieldDetails" nillable="true" type="tns:MDMTruncateFieldDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMDMTruncateFieldDetails" nillable="true" type="tns:ArrayOfMDMTruncateFieldDetails" />
  <xs:complexType name="MDMTruncateFieldDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessEventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterpriseId" type="xs:long" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orginalvalue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" type="xs:long" />
      <xs:element minOccurs="0" name="TruncatedValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MDMTruncateFieldDetails" nillable="true" type="tns:MDMTruncateFieldDetails" />
</xs:schema>