DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastAdmin/FastAdminService85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.firstam.com/2010/09/datacontract/GAB" elementFormDefault="qualified" targetNamespace="http://www.firstam.com/2010/09/datacontract/GAB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ErrorContract" nillable="true" type="tns:ErrorContract" />
  <xs:complexType name="BaseDataContract">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseDataContract" nillable="true" type="tns:BaseDataContract" />
</xs:schema>