DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastAdmin/FastAdminService84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.firstam.com/2013/08/DataContract/FAST" elementFormDefault="qualified" targetNamespace="http://www.firstam.com/2013/08/DataContract/FAST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:complexType name="BusSourceTypeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" base="q1:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusSourceTypes" nillable="true" type="q1:ArrayOfBusSourceTypeInfo" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusSourceTypeResponse" nillable="true" type="tns:BusSourceTypeResponse" />
</xs:schema>