DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastAdmin/FastAdminService87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.firstam.com/2011/07/ServiceContract/FAST" elementFormDefault="qualified" targetNamespace="http://www.firstam.com/2011/07/ServiceContract/FAST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd5" namespace="http://www.firstam.com/2010/06/datacontract/GAB" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd7" namespace="http://www.firstam.com/2013/08/DataContract/FAST" />
  <xs:element name="GetLicenseInformationByEntityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="licenseInfoRequest" nillable="true" type="q1:LicenseInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseInformationByEntityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetLicenseInformationByEntityTypeResult" nillable="true" type="q2:LicenseInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetEmployeeByLoginNameResult" nillable="true" type="q3:EmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetEmployeeByEmployeeIDResult" nillable="true" type="q4:EmployeeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetStatesResult" nillable="true" type="q5:GeoRegionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetCountiesResult" nillable="true" type="q6:GeoRegionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="corporateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetRegionsResult" nillable="true" type="q7:BusUnitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetOfficesResult" nillable="true" type="q8:BusUnitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeBankAccountsByOfficeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="officeBankAccountRequest" nillable="true" type="q9:AllOfficeBankAccountsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeBankAccountsByOfficeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetOfficeBankAccountsByOfficeIDResult" nillable="true" type="q10:OfficeBankAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetProgramTypesResult" nillable="true" type="q11:ProgramTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABsByCustomerTypeIDRegionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerTypeCdID" type="xs:int" />
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABsByCustomerTypeIDRegionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetGABsByCustomerTypeIDRegionIDResult" nillable="true" type="q12:GABSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABAndGABContactsByBusOrgID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busOrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABAndGABContactsByBusOrgIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetGABAndGABContactsByBusOrgIDResult" nillable="true" type="q13:GABInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGABorGABContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="gabSearchRequest" nillable="true" type="q14:GABSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGABorGABContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="SearchGABorGABContactResult" nillable="true" type="q15:GABSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
        <xs:element minOccurs="0" name="webCustomerTypeCDID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkFlowTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetWorkFlowTemplatesResult" nillable="true" type="q16:WorkFlowResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workFlowTemplateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetTaskTemplatesResult" nillable="true" type="q17:TaskTemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetSearchTypesResult" nillable="true" type="q18:SearchTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetTypeCodesResult" nillable="true" type="q19:TypeCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTemplatesByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTemplatesByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetTaskTemplatesByCategoryIDResult" nillable="true" type="q20:TemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCategoriesByRegionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCategoriesByRegionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetTaskCategoriesByRegionIDResult" nillable="true" type="q21:TaskCategoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByFunctionTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="getEmployeesByFunctionTypesRequest" nillable="true" type="q22:GetEmployeesByFunctionTypesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByFunctionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetEmployeesByFunctionTypesResult" nillable="true" type="q23:GetEmployeesByFunctionTypesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployeeByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="getEmployeeRequest" nillable="true" type="q24:EmployeeSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployeeByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="SearchEmployeeByTypeResult" nillable="true" type="q25:EmployeeSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesRepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetSalesRepsResult" nillable="true" type="q26:GetSalesRepsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetCitiesResult" nillable="true" type="q27:GeoRegionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABorGABContactsByRegionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GaborGabContactsRequest" nillable="true" type="q28:GABAndGABContactsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABorGABContactsByRegionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetGABorGABContactsByRegionIdResult" nillable="true" type="q29:GABorGABContactsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetProductsResult" nillable="true" type="q30:ProductsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABByAddressBookEntryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressBookEntryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABByAddressBookEntryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetGABByAddressBookEntryIDResult" nillable="true" type="q31:GABInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressBookID" type="xs:int" />
        <xs:element xmlns:q32="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="eGABType" type="q32:GABType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetGABDetailsResult" nillable="true" type="q33:GABDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABorGABContactDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://www.firstam.com/2010/06/datacontract/GAB" minOccurs="0" name="gabOrGABContactsRequest" nillable="true" type="q34:GetGABorGABContactDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGABorGABContactDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://www.firstam.com/2010/06/datacontract/GAB" minOccurs="0" name="GetGABorGABContactDetailsResult" nillable="true" type="q35:GetGABorGABContactDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessSourceTypesByRegionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="BusSourceTypeRequest" nillable="true" type="q36:BusSourceTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessSourceTypesByRegionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://www.firstam.com/2013/08/DataContract/FAST" minOccurs="0" name="GetBusinessSourceTypesByRegionIDResult" nillable="true" type="q37:BusSourceTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetCountriesResult" nillable="true" type="q38:Countries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCanadaProvinces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCanadaProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetCanadaProvincesResult" nillable="true" type="q39:GeoRegionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busUnitID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficeAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetOfficeAddressesResult" nillable="true" type="q40:OfficeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetRegionByOfficeRequest" nillable="true" type="q41:GetRegionByOfficeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetRegionByOfficeResult" nillable="true" type="q42:GetRegionByOfficeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionedGABInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="versionGABInfoRequest" nillable="true" type="q43:VersionGABInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionedGABInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetVersionedGABInfoResult" nillable="true" type="q44:VersionGABInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentCodesByTaskTemplateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="TaskTemplateCommentCodesRequest" nillable="true" type="q45:TaskTemplateCommentCodesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentCodesByTaskTemplateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetCommentCodesByTaskTemplateIDResult" nillable="true" type="q46:TaskTemplateCommentCodesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocalGABByEnterpriseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="gabRequest" nillable="true" type="q47:GABRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocalGABByEnterpriseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="SearchLocalGABByEnterpriseIdResult" nillable="true" type="q48:GABInfoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlternateNamesByBusOrgID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="gabRequest" nillable="true" type="q49:GABRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlternateNamesByBusOrgIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetAlternateNamesByBusOrgIDResult" nillable="true" type="q50:GABAltNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByBusOrgId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="contactRequest" nillable="true" type="q51:GABRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByBusOrgIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetContactsByBusOrgIdResult" nillable="true" type="q52:MDMContactCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAltAddressesByBusOrgId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="gabRequest" nillable="true" type="q53:GABRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAltAddressesByBusOrgIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetAltAddressesByBusOrgIdResult" nillable="true" type="q54:GABAltAddresses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GABCheckLatestVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="gabRefreshRequest" nillable="true" type="q55:GABRefreshRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GABCheckLatestVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GABCheckLatestVersionResult" nillable="true" type="q56:GABRefreshResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="licenseTypeRequest" nillable="true" type="q57:LicenseTypeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetLicenseTypesResult" nillable="true" type="q58:LicenseTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>