DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastAdmin/FastAdminService82.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.firstam.com/2010/06/datacontract/GAB" elementFormDefault="qualified" targetNamespace="http://www.firstam.com/2010/06/datacontract/GAB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd6" namespace="http://www.firstam.com/2010/09/datacontract/GAB" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Admin/FastAdminService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:complexType name="AdditionalContacts">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.firstam.com/2010/09/datacontract/GAB" base="q1:ErrorContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditionalEmail1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdditionalEmail2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdditionalContacts" nillable="true" type="tns:AdditionalContacts" />
  <xs:complexType name="GABAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAddrTypeCdID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GABAddress" nillable="true" type="tns:GABAddress" />
  <xs:complexType name="ArrayOfExternalCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalCustomer" nillable="true" type="tns:ExternalCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalCustomer" nillable="true" type="tns:ArrayOfExternalCustomer" />
  <xs:complexType name="ExternalCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotificationDeliveryTypeCdID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PublishFlag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WebCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebCustomerTypeCdID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalCustomer" nillable="true" type="tns:ExternalCustomer" />
  <xs:complexType name="ArrayOfGABAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GABAddress" nillable="true" type="tns:GABAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGABAddress" nillable="true" type="tns:ArrayOfGABAddress" />
  <xs:complexType name="ArrayOfSalesRep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesRep" nillable="true" type="tns:SalesRep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesRep" nillable="true" type="tns:ArrayOfSalesRep" />
  <xs:complexType name="SalesRep">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesRep" nillable="true" type="tns:SalesRep" />
  <xs:complexType name="GetGABorGABContactDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://www.firstam.com/2011/07/DataContract/FAST" base="q2:OperationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddrBookEntryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GABContactId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GABId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGABorGABContactDetailsRequest" nillable="true" type="tns:GetGABorGABContactDetailsRequest" />
  <xs:complexType name="GetGABorGABContactDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" base="q3:OperationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="GABInfo" nillable="true" type="q3:GABInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGABorGABContactDetailsResponse" nillable="true" type="tns:GetGABorGABContactDetailsResponse" />
</xs:schema>