DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastEscrow/FastEscrowService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Escrow/FastEscrowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Escrow/FastEscrowService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:simpleType name="ePaymentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PaidAtClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2379</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidBeforeClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2387</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidByOthers">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2388</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ePaymentCategory" nillable="true" type="tns:ePaymentCategory" />
  <xs:complexType name="ArrayOfSFField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SFField" nillable="true" type="tns:SFField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSFField" nillable="true" type="tns:ArrayOfSFField" />
  <xs:complexType name="SFField">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SFField" nillable="true" type="tns:SFField" />
  <xs:complexType name="ArrayOfSiteFileStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteFileStatus" nillable="true" type="tns:SiteFileStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteFileStatus" nillable="true" type="tns:ArrayOfSiteFileStatus" />
  <xs:complexType name="SiteFileStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="SiteFileID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteFileStatus" nillable="true" type="tns:SiteFileStatus" />
  <xs:complexType name="ArrayOfChargeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChargeData" nillable="true" type="tns:ChargeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChargeData" nillable="true" type="tns:ArrayOfChargeData" />
  <xs:complexType name="ChargeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyerChargeAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerCreditAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChargeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsGroupDesc" type="xs:boolean" />
      <xs:element minOccurs="0" name="POCDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerChargeAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerCreditAmt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeData" nillable="true" type="tns:ChargeData" />
  <xs:complexType name="ArrayOfDepositListIDs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepositListIDs" nillable="true" type="tns:DepositListIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepositListIDs" nillable="true" type="tns:ArrayOfDepositListIDs" />
  <xs:complexType name="DepositListIDs">
    <xs:sequence>
      <xs:element minOccurs="0" name="PendingDepositList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryBankAcct" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepositListIDs" nillable="true" type="tns:DepositListIDs" />
  <xs:simpleType name="AdjustmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Offset">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">350</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Miscellaneous">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">696</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdjustmentType" nillable="true" type="tns:AdjustmentType" />
  <xs:simpleType name="IncludeInSplitLSPGroup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FEES" />
      <xs:enumeration value="OTC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IncludeInSplitLSPGroup" nillable="true" type="tns:IncludeInSplitLSPGroup" />
  <xs:complexType name="WorkQFileDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkQFileDetails" nillable="true" type="tns:WorkQFileDetails" />
  <xs:simpleType name="WorkQRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="MoveToAnotherQueue" />
      <xs:enumeration value="AddComment" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="MoveToTop" />
      <xs:enumeration value="RetanInQueue" />
      <xs:enumeration value="UnlockMessage" />
      <xs:enumeration value="BringMessageIntoQueue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkQRequestType" nillable="true" type="tns:WorkQRequestType" />
  <xs:complexType name="ArrayOfWorkQUpdateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkQUpdateDetails" nillable="true" type="tns:WorkQUpdateDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkQUpdateDetails" nillable="true" type="tns:ArrayOfWorkQUpdateDetails" />
  <xs:complexType name="WorkQUpdateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceQueueId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetQueueId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkQUpdateDetails" nillable="true" type="tns:WorkQUpdateDetails" />
  <xs:complexType name="ArrayOfDocumentTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypes" nillable="true" type="tns:DocumentTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentTypes" nillable="true" type="tns:ArrayOfDocumentTypes" />
  <xs:complexType name="DocumentTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocTypeCdID" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentNames" nillable="true" type="tns:ArrayOfDocumentNames" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentTypes" nillable="true" type="tns:DocumentTypes" />
  <xs:complexType name="ArrayOfDocumentNames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentNames" nillable="true" type="tns:DocumentNames" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentNames" nillable="true" type="tns:ArrayOfDocumentNames" />
  <xs:complexType name="DocumentNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentNames" nillable="true" type="tns:DocumentNames" />
  <xs:complexType name="ArrayOfWorkQueueTriggers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkQueueTriggers" nillable="true" type="tns:WorkQueueTriggers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkQueueTriggers" nillable="true" type="tns:ArrayOfWorkQueueTriggers" />
  <xs:complexType name="WorkQueueTriggers">
    <xs:sequence>
      <xs:element minOccurs="0" name="WorkQueueTriggerID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkQueueTriggerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkQueueTriggers" nillable="true" type="tns:WorkQueueTriggers" />
  <xs:complexType name="CDInterestCalculationSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" base="q1:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CDChargePaymentDetails" nillable="true" type="q1:CDChargePaymentDetails" />
          <xs:element minOccurs="0" name="InterestCalculation" nillable="true" type="q1:InterestCalculation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDInterestCalculationSummary" nillable="true" type="tns:CDInterestCalculationSummary" />
  <xs:complexType name="InterestCalculationSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://www.firstam.com/2011/07/DataContract/FAST" base="q2:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="InterestCalculation" nillable="true" type="q2:InterestCalculation" />
          <xs:element minOccurs="0" name="PaymentDetails" nillable="true" type="q2:ArrayOfPaymentDetailsWithGFE" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InterestCalculationSummary" nillable="true" type="tns:InterestCalculationSummary" />
  <xs:complexType name="BeneficiaryMortgagee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" base="q3:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeneficiaryMortgageeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BrokenLink" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BeneficiaryMortgagee" nillable="true" type="tns:BeneficiaryMortgagee" />
  <xs:complexType name="TrustorMortgagor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.firstam.com/2011/07/DataContract/FAST" base="q4:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrokenLink" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="TrustorMortgagorText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrustorMortgagor" nillable="true" type="tns:TrustorMortgagor" />
  <xs:complexType name="QCClosing">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.firstam.com/2011/07/DataContract/FAST" base="q5:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppraisedValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="GovtProgramID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="InvestorID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LoanInterestTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NumberofUnits" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OccupancyTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PiggybackSecondHUD" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SecondaryLienInformationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SecondaryLienRecordedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SourceofFundsID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SpecialInvestorProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionTypeID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QCClosing" nillable="true" type="tns:QCClosing" />
</xs:schema>