DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastUtil/FastUtilityService45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.firstam.com/2011/07/ServiceContract/FAST" elementFormDefault="qualified" targetNamespace="http://www.firstam.com/2011/07/ServiceContract/FAST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva301.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:element name="UpdateOrderDetailsFromSecondOrderSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="updateOrderRequest" nillable="true" type="q1:UpdateOrderDetailsFromSecondSourceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderDetailsFromSecondOrderSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="UpdateOrderDetailsFromSecondOrderSourceResult" nillable="true" type="q2:UpdateOrderDetailsFromSecondSourceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenericEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="genericEmailRequest" nillable="true" type="q3:GenericEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenericEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="UpdateGenericEmailResult" nillable="true" type="q4:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="genericEmailRequest" nillable="true" type="q5:EmailHistoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.firstam.com/2011/07/DataContract/FAST" minOccurs="0" name="GetEmailHistoryResult" nillable="true" type="q6:EmailHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>