DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastUtil/FastUtilityService47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva301.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ePaymentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PaidAtClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2379</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidBeforeClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2387</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidByOthers">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2388</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ePaymentCategory" nillable="true" type="tns:ePaymentCategory" />
  <xs:complexType name="ArrayOfCCList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CCList" nillable="true" type="tns:CCList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCCList" nillable="true" type="tns:ArrayOfCCList" />
  <xs:complexType name="CCList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CCList" nillable="true" type="tns:CCList" />
  <xs:complexType name="ArrayOfTOList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TOList" nillable="true" type="tns:TOList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTOList" nillable="true" type="tns:ArrayOfTOList" />
  <xs:complexType name="TOList">
    <xs:sequence>
      <xs:element minOccurs="0" name="TO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TOList" nillable="true" type="tns:TOList" />
</xs:schema>