DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastUtil/FastUtilityService22.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.firstam.com/2011/07/ServiceContract/FAST" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.firstam.com/2011/07/ServiceContract/FAST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.firstam.com/2011/07/ServiceContract/FAST/Imports">
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc?xsd=xsd0" namespace="http://www.firstam.com/2011/07/ServiceContract/FAST" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFastUtilityService_UpdateOrderDetailsFromSecondOrderSource_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderDetailsFromSecondOrderSource" />
  </wsdl:message>
  <wsdl:message name="IFastUtilityService_UpdateOrderDetailsFromSecondOrderSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderDetailsFromSecondOrderSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IFastUtilityService_UpdateOrderDetailsFromSecondOrderSource_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IFastUtilityService">
    <wsdl:documentation>
      <summary>This is a utility service for FAST</summary>
    </wsdl:documentation>
    <wsdl:operation name="UpdateOrderDetailsFromSecondOrderSource">
      <wsdl:documentation>
        <summary>UpdateOrderDetailsFromSecondOrderSource</summary>
        <returns>UpdateOrderDetailsFromSecondSourceResponse</returns>
        <param name="updateOrderRequest">UpdateOrderDetailsFromSecondSourceRequest is required.</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastUtilityService/UpdateOrderDetailsFromSecondOrderSource" message="tns:IFastUtilityService_UpdateOrderDetailsFromSecondOrderSource_InputMessage" />
      <wsdl:output wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastUtilityService/UpdateOrderDetailsFromSecondOrderSourceResponse" message="tns:IFastUtilityService_UpdateOrderDetailsFromSecondOrderSource_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.firstam.com/2011/07/ServiceContract/FAST/IFastUtilityService/UpdateOrderDetailsFromSecondOrderSourceServiceFaultFault" name="ServiceFaultFault" message="tns:IFastUtilityService_UpdateOrderDetailsFromSecondOrderSource_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>