DEV/Tower/FA.LVIS.Tower.FASTProcessing/Service References/FastFile/FastFileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAF.Services.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/File/FastFileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://snavnintfeva201.fastts.firstam.net/ServiceHosts/File/FastFileService.svc?xsd=xsd2" namespace="http://www.firstam.com/2011/07/DataContract/FAST" />
  <xs:simpleType name="ePaymentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PaidAtClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2379</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidBeforeClosing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2387</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaidByOthers">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2388</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ePaymentCategory" nillable="true" type="tns:ePaymentCategory" />
  <xs:complexType name="ArrayOfCCList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CCList" nillable="true" type="tns:CCList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCCList" nillable="true" type="tns:ArrayOfCCList" />
  <xs:complexType name="CCList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CCList" nillable="true" type="tns:CCList" />
  <xs:complexType name="ArrayOfTOList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TOList" nillable="true" type="tns:TOList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTOList" nillable="true" type="tns:ArrayOfTOList" />
  <xs:complexType name="TOList">
    <xs:sequence>
      <xs:element minOccurs="0" name="TO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TOList" nillable="true" type="tns:TOList" />
  <xs:complexType name="ArrayOfFaxRecipientList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaxRecipientList" nillable="true" type="tns:FaxRecipientList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaxRecipientList" nillable="true" type="tns:ArrayOfFaxRecipientList" />
  <xs:complexType name="FaxRecipientList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAXNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaxRecipientList" nillable="true" type="tns:FaxRecipientList" />
  <xs:complexType name="CDInterestCalculationSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.firstam.com/2011/07/DataContract/FAST" base="q1:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CDChargePaymentDetails" nillable="true" type="q1:CDChargePaymentDetails" />
          <xs:element minOccurs="0" name="InterestCalculation" nillable="true" type="q1:InterestCalculation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CDInterestCalculationSummary" nillable="true" type="tns:CDInterestCalculationSummary" />
  <xs:complexType name="InterestCalculationSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://www.firstam.com/2011/07/DataContract/FAST" base="q2:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="InterestCalculation" nillable="true" type="q2:InterestCalculation" />
          <xs:element minOccurs="0" name="PaymentDetails" nillable="true" type="q2:ArrayOfPaymentDetailsWithGFE" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InterestCalculationSummary" nillable="true" type="tns:InterestCalculationSummary" />
  <xs:complexType name="BeneficiaryMortgagee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.firstam.com/2011/07/DataContract/FAST" base="q3:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeneficiaryMortgageeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BrokenLink" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BeneficiaryMortgagee" nillable="true" type="tns:BeneficiaryMortgagee" />
  <xs:complexType name="TrustorMortgagor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.firstam.com/2011/07/DataContract/FAST" base="q4:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrokenLink" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="TrustorMortgagorText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrustorMortgagor" nillable="true" type="tns:TrustorMortgagor" />
  <xs:complexType name="QCClosing">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.firstam.com/2011/07/DataContract/FAST" base="q5:DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppraisedValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="GovtProgramID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="InvestorID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LoanInterestTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NumberofUnits" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OccupancyTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PiggybackSecondHUD" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SecondaryLienInformationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SecondaryLienRecordedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SourceofFundsID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SpecialInvestorProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionTypeID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QCClosing" nillable="true" type="tns:QCClosing" />
  <xs:complexType name="ArrayOfDocumentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentList" nillable="true" type="tns:DocumentList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentList" nillable="true" type="tns:ArrayOfDocumentList" />
  <xs:complexType name="DocumentList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentIndicator" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImageDocVersionNum" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentList" nillable="true" type="tns:DocumentList" />
</xs:schema>